.container {
    display: flex;
    justify-content: space-around;
    align-items: center;



    .icons {
        margin: 15px;
    }

    .links {
        .menu-icon {
            display: 'none'

            .menu {
                display: none;
            }
        }



        ul {
            display: flex;

        }

        li {
            list-style-type: none;
            margin: 15px;
        }

        a {
            text-decoration: none;
            display: flex;
            transition: 1s all;
            font-size: small;
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        a:hover {
            color: rgb(232, 204, 204);
        }
    }
}

@media (max-width:576px) {
    .container {
        .links {
            display: none;
        }

        .menu {
            display: block;
            color: black;
        }
    }
}