.container-blocks {
    width: 100%;
    margin-left: 125px;
  .site-blocks {
    width: 80%;
    display: flex;
    .block {
      .block-icon {
        font-size: 45px;
        margin: 10px;
      }
      display: flex;
      width: 350px;
      margin: 0px auto;
    }
  }
}
